@model FolderIndexInputViewModel

@{
    ViewData["Title"] = "Folders";
    ViewData["Message"] = "Here is an overview of your already added folders";
}

<div class="row">
    <div class="col-md-12">

        @if (Model.Folders == null || Model.Folders?.Count == 0)
        {
            <div class="alert alert-info" role="alert">
                #FeelsBadMan You currently have exactly 0 folders. I am pretty sure you want to create a new <a class="btn btn-xs btn-primary" asp-controller="Folder" asp-action="Create" role="button">folder</a>
            </div>
        }
        else
        {
            <form asp-controller="Folder" asp-action="Index" method="post">

                <div class="input-group mb-3">
                    <input asp-for="SearchTerm" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                        <a asp-controller="Folder" asp-action="Create" class="btn btn-primary" type="submit">Create a new folder</a>
                    </div>
                </div>

            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><b>Name</b></td>
                        <td><b>Path</b></td>
                        <td><b>Created</b></td>
                        <td><b>Updated</b></td>
                        <td><b>Action</b></td>
                    </tr>
                </thead>
                @foreach (var folder in Model.Folders)
                {
                    <tr>
                        <td>@folder.Name</td>
                        <td>@folder.Path</td>
                        <td>@folder.Created</td>
                        <td>@folder.Updated</td>
                        <td>
                            <a asp-controller="Folder" asp-action="Delete" asp-route-Id="@folder.Id" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>