<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Deemix AutoLoader</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="~/favicon.ico">
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="~/css/simplebar.min.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/css/feather.min.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="~/css/daterangepicker.min.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="~/css/app-light.min.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="~/css/app-dark.min.css" id="darkTheme">
</head>
<body class="vertical dark">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <form class="form-inline mr-auto searchform text-muted">
                <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
            </form>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="~/img/noavatar.jpg" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activities</a>
                    </div>
                </li>
            </ul>
        </nav>

        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.svg" height="80" />
                    </a>
                </div>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="fe fe-home fe-16"></i>
                            <span class="ml-3 item-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autoloaderjobs">
                            <i class="fe fe-server fe-16"></i>
                            <span class="ml-3 item-text">Hangfire Dashboard</span>
                        </a>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Media management</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item dropdown">
                        <a href="#artist" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-user fe-16"></i>
                            <span class="ml-3 item-text">Artist</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="artist">
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Artist" asp-action="Index">
                                    <span class="ml-1 item-text">Show</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Artist" asp-action="Create">
                                    <span class="ml-1 item-text">Create</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Artist" asp-action="Update">
                                    <span class="ml-1 item-text">Force Update</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Artist" asp-action="Export">
                                    <span class="ml-1 item-text">Export</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#playlist" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-list fe-16"></i>
                            <span class="ml-3 item-text">Playlist</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="playlist">
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Playlist" asp-action="Index">
                                    <span class="ml-1 item-text">Show</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Playlist" asp-action="Create">
                                    <span class="ml-1 item-text">Create</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#folder" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                            <i class="fe fe-folder fe-16"></i>
                            <span class="ml-3 item-text">Folder</span>
                        </a>
                        <ul class="collapse list-unstyled pl-4 w-100" id="folder">
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Folder" asp-action="Index">
                                    <span class="ml-1 item-text">Show</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pl-3" asp-controller="Folder" asp-action="Create">
                                    <span class="ml-1 item-text">Create</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Useful Links</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                    <li class="nav-item w-100">
                        <a class="nav-link" href="https://listrr.pro" target="_blank">
                            <i class="fe fe-thumbs-up fe-16"></i>
                            <span class="ml-3 item-text">listrr.pro</span>
                        </a>
                        <a class="nav-link" href="https://discord.gg/msE4BDD" target="_blank">
                            <i class="fe fe-message-square fe-16"></i>
                            <span class="ml-3 item-text">Discord</span>
                        </a>
                        <a class="nav-link" href="https://github.com/sponsors/TheUltimateC0der" target="_blank">
                            <i class="fe fe-dollar-sign fe-16"></i>
                            <span class="ml-3 item-text">Donate</span>
                        </a>
                        <a class="nav-link" href="https://github.com/TheUltimateC0der/Deemixrr" target="_blank">
                            <i class="fe fe-github fe-16"></i>
                            <span class="ml-3 item-text">Github</span>
                        </a>
                        <a class="nav-link" href="https://themewagon.com/themes/free-responsive-bootstrap-4-html5-admin-template-tinydash/" target="_blank">
                            <i class="fe fe-help-circle fe-16"></i>
                            <span class="ml-3 item-text">Theme: Tinydash</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="page-title">@ViewData["Title"]</h2>
                        <p class="lead text-muted">@ViewData["Message"]</p>

                        <div class="row">
                            <div class="col">

                                @RenderBody()
                            </div>
                        </div>
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div> <!-- .wrapper -->


    <div class="modal fade" id="donorModal" tabindex="-1" role="dialog" aria-labelledby="verticalModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Hey you!</h3>
                    <h5>Thank you for using deemixrr!</h5>
                    <p>This software and its <a href="https://github.com/TheUltimateC0der/Deemixrr">sourcecode</a> is released under the <a href="https://github.com/TheUltimateC0der/Deemixrr/blob/master/LICENSE">AGPL-3.0 License</a>.</p>
                    <p>That means that you can do almost anything with it.</p>
                    <p>As you might guess, developing and keeping such a software up to date is a pretty free-time consuming task. Therefore just 1$ of donation makes a pretty big difference in working on such projects.</p>
                    <p>If you feel like it, you can donate for this project with Github Sponsors either monthly, or just a single time. You can find my Github Sponsors profile here: <a href="https://github.com/sponsors/TheUltimateC0der" target="_blank">https://github.com/sponsors/TheUltimateC0der</a></p>
                    <p>If you want to join our community, you can join our discord here: <a href="https://discord.gg/msE4BDD">https://discord.gg/msE4BDD</a></p>

                    <a href="https://github.com/sponsors/TheUltimateC0der" target="_blank" class="btn btn-outline-primary btn-block">
                        <span class="fe fe-dollar-sign fe-16"></span> Donate
                    </a>
                    <a href="https://github.com/TheUltimateC0der/Deemixrr" target="_blank" class="btn btn-outline-primary btn-block">
                        <span class="fe fe-code fe-16"></span> Sourcecode
                    </a>
                    <a href="https://discord.gg/msE4BDD" target="_blank" class="btn btn-outline-primary btn-block">
                        <span class="fe fe-message-square fe-16"></span> Join Discord
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/jquery.stickOnScroll.js"></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/js.cookie.js"></script>
    <script src="~/js/apps.js"></script>

    <script type="text/javascript">
        $(function () {
            if (Cookies.get('alreadyShow') === undefined) {
                // MODAL APPEAR AFTER 2 SECONDS
                setTimeout(function () {
                    $('#donorModal').modal();
                }, 2000);

                Cookies.set('alreadyShow', true, { expires: 7 });

                $('#donorModal').modal({
                    display: 'block'
                });
            }
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
